.footer-container{
    display: flex;
    justify-content: space-between;
    background: #626262;
    padding:60px 40px;
    gap:40px;
    
}
.footer-container *{
    color:white;
}


.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-start;
    // align-items: flex-start;
    flex:1;
    gap:40px;
    // background-color: red;
    .about-company{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img{
            width:75%;
        }
        p{
            margin-top:10px;
            font-size:18px;
        }
    }
    
    .useful-links{
        // background-color: green;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        ul{
            display:flex;
            flex-wrap: wrap;
            gap:10px;
            margin-top: 10px;
            // background-color: yellow;
            padding-left: 0;
            margin-left:0;
            text-align: left;
            list-style-type: none;
        }
        li{
            flex:1;
            padding-left: 0;
            margin-left:0;
            // list-style: none;
            

        }
    }
    
}


.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    gap:40px;
    
    .contact-info{
        ul{
            display:flex;
            justify-content:space-around;
            flex-wrap: wrap;
            list-style: none;
            gap:20px;
        }
        li{
            display: flex;
            align-items: center;
            gap:5px;
        }
        .social-links{
            display:flex;
            justify-content: center;
            gap:5px;
            *{
                cursor: pointer;
            }
    
        }
    }
    .subscribe{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        p{
            font-size:22px;
        }
        .subscribe-form{
            display:flex;
            justify-content:center;
            height:30px;
            width:50%;
            border:1px solid white;
            input{
                outline: none;
                flex:8;
                border:none;
                color:gray;
                font-size:16px;
            }
            button{
                flex:1;
                background:var(--second-color);
                color:white;
                border:none;
                cursor: pointer;
                &:hover{
                    background:var(--light-second-color);
                }
            }
        }
        
    }
    
}