.user_form {
    display:flex;
    align-items:center;
    justify-content: center; 
    width:100vw;
    height:100vh;
    background:radial-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1));
    form{
        background:rgb(40,40,40);
        padding:20px 0px;
        // width:max-content;
        width:40%;
        gap:20px;
        p{
            color:white;
            overflow-wrap:break-word;
            text-align: center;
            padding:10px;
            width:100%;
            text-wrap:wrap;
        }
        
    }
}
.user_form_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding:10px;
    gap:20px;
}
.user_form_input input{
    border:none;
    border-bottom: 2px solid var(--second-color);
    background-color: var(--first-color);
    min-width:30vw;
    padding:10px;
    color:white;
    outline:none;
    &:hover{
        background-color: rgb(77, 77, 77);
    }
    /* &:focus{
        border:none;
        border-bottom: 2px solid var(--second-color);
    } */
}
.password,.confirm-password{
    position: relative;
    display: flex;
    align-items: center;
}
.show-pwd,.hide-pwd{
    position: absolute;
    z-index: 999;
    right:0;
    margin-right:10px;
    cursor: pointer;
}
.confirm-pwd{
    position: absolute;
    z-index: 999;
    right:0;
    margin-right:40px;
}
.remember-me{
    display:flex;
    align-items: center;
    font-size: 14px;
    color:var(--light-first-color);
    justify-content: start;
    gap:10px;
    padding:0px 10px;
    input[type="checkbox"]{
        accent-color: var(--second-color);
    }
}
.user_form_action_buttons{
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    gap:10px;
}
.user_form_action_buttons button{
    cursor:pointer;
    background-color: var(--first-color);
    color:white;
    border:none;
    padding:5px 20px;
    &:hover{
        background-color: rgb(77, 77, 77);
    };
    &:disabled{
        cursor: not-allowed;
    };
}

.error_message{
    color:var(--error-color)!important;
}

