.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #f2f2f2;
    z-index: 999;

}

.navbar_container>div {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo *{
    display: flex;
    align-items: center;
}

.logo img {
    width: 15vw;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 3;
    *{//format react-dom Links
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .auth {
        text-decoration: none;
        color: var(--text-color);
        cursor: pointer;
    }

    .tools {
        display: flex;
    }

    p{
        color:var(--text-color);
    }

}

.btn-dropdown-menu{
    background: none;
    border:none;
    &:hover{
        background: none;
    }
}
.visible-dropdownmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,.2);
    // width: max-content;
    position: absolute;
    background: white;
    top: 40px;
    gap: 10px;

    * {
        cursor: pointer;
        padding: 10px 10px;
        width: 100%;
        text-decoration: none;
        color: var(--text-color);
    }

    *:hover {
        color: gray;
        background: #f2f2f2;
    }
    

}

.hidden-dropdownmenu {
    display: none;
}

.active-menu-item {
    color: var(--second-color);
}

.inactive-menu-item {
    color: var(--text-color);
}

.search {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 10px;

}

.search-input {
    display: flex;
    align-items: center;
    border: 2px solid var(--light-first-color);
    background: white;
    padding: 0px 5px;
    margin: 0px 50px;
    height: 30px;
    width: 100%;
}

.search input {
    border: none;

    width: 100%;

    &:focus {
        outline: none;
    }
}