.categories{
    margin:20px 40px
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    background: #f2f2f2;
    padding:20px 40px;
    .product{
        width:30vw;
        background: white;
    }
    
}
.contact{
    display:flex;
    justify-content: space-between;
    background:#1f1f1f;
    height:75vh;

}

.image{
    flex:1;
    background-repeat: no-repeat;
    background-position: 0px 80%;
    background-size: cover;
}
.contact-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex:0.5;
    gap:20px;
    h2{
        color:gray;
        font-size:22px;
        font-weight: 500;
    }
    p{
        color: var(--second-color);
        font-size:22px;
    }
    button{
        border:none;
        padding:10px 30px;
        margin-top:20px;
        font-size:22px;
        color:white;
        background:var(--second-color);
        border-radius:20px 0px 20px 0px;
        transition:  .25s ease;
        cursor: pointer;
        &:hover{
            background:var(--light-second-color);
            border-radius:0px 20px 0px 20px;
        }
    }
}
