.single-product{
    display: flex;
    gap:20px;
    padding:10px 20px;
    .sp-imgs{
        display: flex;
        flex-direction: column;
        flex:2;
        width: 100%;
        gap:5px;
        .sp-featured-img{
            width:100%;
            // height:70vh;
            object-fit: contain;
            cursor:zoom-in;
            
        }
        .sp-other-imgs{
            display: flex;
            background-color: #eee;
            height:150px;
            gap:5px;
            .sp-img{
                height: 100%;
                cursor: pointer;
                border:4px solid transparent;
            }
            .sp-img-selected{
                // height: 100%;
                border:4px solid var(--second-color);
                
            }
        }
    }
    .sp-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex:1;
        gap:20px;
        text-align: left;
        h4{
            color:gray;
            font-weight: 500;
            span{
                color:var(--second-color);
            }
        }
        .sp-variables{
            display: flex;
            flex-direction: column;
            gap:20px;
            // justify-content: space-between;
            width: 50%;
            .sp-colors{
                display: flex;
                flex-wrap: wrap;
                gap:5px;
                div{
                    width:20px;
                    height:20px;
                    cursor: pointer;
                    border: 1px solid lightgrey;
                    border-radius: 5px;
                }
            }
            .sp-size{
                display:flex;
                gap:5px;
                select{
                    cursor: pointer;
                }
            }
        }
        .sp-actions{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            gap:20px;
            .add-remove-cart{
                display:flex;
                align-items: center;
                text-align: center;
                
                *{
                    width:20px;
                    height:20px;
                    font-size: 14px;
                }
                span{
                    border:1px solid lightgray;
                    padding:2px;
                }
                button{
                    padding:0px;
                    border:none;
                    cursor:pointer;
                }
                .add-button{
                    border-radius: 0 5px 5px 0;
                }
                .remove-button{
                    border-radius: 5px 0 0 5px;
                }


            }
        }
        
    }
}
